<div *ngIf="items.length !=0">
 

    <div class="numb" >
      
      <mat-card class="animated slideInRight ww" *ngFor="let item of items ">
        <mat-card-title-group>
          <mat-card-title ><p >{{item.author}}</mat-card-title>

          <img mat-card-lg-image src="{{item.photo}}" >
        </mat-card-title-group>
        <mat-card-content >
          {{item.text}}
        </mat-card-content>
        <mat-card-actions>

     <button (click)="Delete(item.id)"><span class="material-icons">
delete
</span></button>
        </mat-card-actions>

      </mat-card>

    </div>
  
</div>


